*.o
*.mod
*.a
*.so
*.la
*.lo
*.pyc
*.elc
*.dat
\#*#
.*.rej
*.rej
.*~
*~
.#*
.~lock*
*.sw[po]
*.bak
.DS_Store
.pc
.svn
.hg
auto
*.synctex.gz
.bootstrap
.set_permission
.*-use
bundle
config/*.el
config/sitemap.org
el-get
etc/*
share/*
tmp/*
modules/*-stamp
.org-id-locations
tramp
