[submodule "site-lisp/org-mode"]
	path = site-lisp/org-mode
	url = git://orgmode.org/org-mode.git
[submodule "site-lisp/yasnippet"]
	path = site-lisp/yasnippet
	url = git://github.com/capitaomorte/yasnippet.git
[submodule "site-lisp/rail"]
	path = site-lisp/rail
	url = https://github.com/uwabami/rail.git
[submodule "site-lisp/color-theme-darkpastel"]
	path = site-lisp/color-theme-darkpastel
	url = https://github.com/uwabami/color-theme-darkpastel.git
