[submodule "site-lisp/org-mode"]
	path = site-lisp/org-mode
	url = git://orgmode.org/org-mode.git
[submodule "site-lisp/yasnippet"]
	path = site-lisp/yasnippet
	url = git://github.com/capitaomorte/yasnippet.git
[submodule "site-lisp/rail"]
	path = site-lisp/rail
	url = https://github.com/uwabami/rail.git
[submodule "site-lisp/color-theme-darkpastel"]
	path = site-lisp/color-theme-darkpastel
	url = https://github.com/uwabami/color-theme-darkpastel.git
[submodule "site-lisp/offlineimap-el"]
	path = site-lisp/offlineimap-el
	url = git://git.naquadah.org/offlineimap-el.git
[submodule "site-lisp/muse-el"]
	path = site-lisp/muse-el
	url = git://repo.or.cz/muse-el.git
[submodule "site-lisp/google-contacts-mew"]
	path = site-lisp/google-contacts-mew
	url = git://github.com/masutaka/google-contacts-mew.git
[submodule "site-lisp/html5-el"]
	path = site-lisp/html5-el
	url = https://github.com/uwabami/html5-el.git
[submodule "site-lisp/el-get"]
	path = site-lisp/el-get
	url = git://github.com/dimitri/el-get.git
