name: build
on: [push, pull_request]
jobs:
  test:
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.emacs_version == 'snapshot' }}
    strategy:
      fail-fast: false
      matrix:
        emacs_version:
          - '30.1'
          - '30.2'
    steps:
      - uses: actions/checkout@v1
      - uses: purcell/setup-emacs@master
        with:
          version: ${{ matrix.emacs_version }}
      - run:
          mkdir -p ~/.cache/emacs
          make
