name: build
on: [push, pull_request]
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        emacs_version:
          - '27.1'
          - '28.2'
          - '30.1'
          - '30.2'
          - 'snapshot'
        include:
          - emacs_version: 'snapshot'
            allow_failure: true
          # - emacs_version: '27.1'
          #   allow_failure: true
          # - emacs_version: '28.2'
          #   allow_failure: true
    steps:
      - uses: actions/checkout@v1
      - uses: purcell/setup-emacs@master
        with:
          version: ${{ matrix.emacs_version }}
      - name: Run tests
        if: matrix.allow_failure != true
        run: |
          mkdir -p ~/.cache/emacs
          make
      - name: Run tests (allow failure)
        if: matrix.allow_failure == true
        run: |
          mkdir -p ~/.cache/emacs
          make || true
